
<section id="footer">
    <img alt="LOGO">
    <div id="footer_Content">
        <div>
            <ul id="hyperlinks">
                <li><a href="/homepage">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/about">About</a></li>
            </ul>
            <ul id="recommendation">
                <h4>Our Recommandation</h4>
                <li>item 1, 2pcs</li>
                <li>item 1, 2pcs</li>
                <li>item 1, 2pcs</li>
                <li>item 1, 2pcs</li>
                <li id="orderBtn"><a href="&nbsp">Order Now </a></li>
            </ul>
        </div>
        <span id="slogen">
            H a v e &nbsp&nbsp a &nbsp&nbsp n i c e <br> H a l i T E A  :)
        </span>
    </div>
</section>

