<div id="id02" class="modal">
        <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
        <form class="modal-content animate" method="post" name="Sign Up Form" action="{{ url_for('signin.index') }}">
            <div class="container">
                <h2>Sign Up</h2>
                <b class="required">First Name</b>
                <input type="text" placeholder="Full Name" name="first_name" required>

                <b class="required">Last Name</b>
                <input type="text" placeholder="Full Name" name="last_name" required>

                <b class="required">Email</b>
                <input type="text" placeholder="Enter Email" name="email" required>

                <b class="required">Phone Number</b>
                <input type="text" placeholder="Phone Number" name="phone_number" required>

                <b class="required">User Name</b>
                <input type="text" placeholder="User Name" name="username" required>

                <b class="required">Password</b>
                <input type="password" placeholder="Enter Password" name="password" required>
                <div class="clearfix">
                    <button type="button" onclick="document.getElementById('id02').style.display='none', document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                    <button type="submit" class="signupbtn">Sign Up</button>
                </div>
            </div>
        </form>
    </div>