{% extends 'base.html' %}

{% block page_head_css %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('signin.static', filename='css/sucssessignin.css') }}">
{% endblock %}

{% block page_body_main %}
    <main>
    <div id="memberMessage">
        <h1> you are now a member! </h1>
        <button class="return homepage"> <a href="/"> return to home page </a> </button>
        <button class="return profile"> <a href="/profile"> view your profile </a> </button>
    </div>
    </main>
{% endblock %}