{% extends 'base.html' %}

{% set page_head_title = 'HaliTEA' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('homepage.static', filename='css/homepage.css') }}"/>
{% endblock %}



{% block page_body_main %}
    <main id="homeMain">
        <h1 class="h">Welcome to HaliTEA</h1>
        <h2 class="h">assamble your own Tea mix!</h2>
        <section id="carousel">
            <img src="{{ url_for('static', filename='media/img/products/dried_coconut.jpg') }}">
            <img src="{{ url_for('static', filename='media/img/products/dried_pineapple.jpg') }}">
            <img src="{{ url_for('static', filename='media/img/products/dried_coconut.jpg') }}">
            <img src="{{ url_for('static', filename='media/img/products/dried_pineapple.jpg') }}">
            <img src="{{ url_for('static', filename='media/img/products/dried_coconut.jpg') }}">
            <img src="{{ url_for('static', filename='media/img/products/dried_pineapple.jpg') }}">

        </section>
        <button id="shopBtn" >S &nbsp h &nbsp o &nbsp p &nbsp &nbsp &nbsp N &nbsp o &nbsp w &nbsp !</button>
        <h3 class="h">Create an amazing tea mix from our verity of ingredients</h3>
        <section id="slider">
            <div class="ingr_Card">
                <img class="img" src="{{ url_for('static', filename='media/img/products/dried_coconut.jpg') }}">
                <span class="name">name</span>
                <span class="price">3$</span>
            </div>
            <div class="ingr_Card">
                <img class="img" src="{{ url_for('static', filename='media/img/products/dried_pineapple.jpg') }}">
                <span class="name">name</span>
                <span class="price">3$</span>
            </div>
            <div class="ingr_Card">
                <img class="img" src="{{ url_for('static', filename='media/img/products/dried_coconut.jpg') }}">
                <span class="name">name</span>
                <span class="price">3$</span>
            </div>
            <div class="ingr_Card">
                <img class="img" src="{{ url_for('static', filename='media/img/products/dried_pineapple.jpg') }}">
                <span class="name">name</span>
                <span class="price">3$</span>
            </div>
            <div class="ingr_Card">
                <img class="img" src="{{ url_for('static', filename='media/img/products/dried_coconut.jpg') }}">
                <span class="name">name</span>
                <span class="price">3$</span>
            </div>
            <div class="ingr_Card">
                <img class="img" src="{{ url_for('static', filename='media/img/products/dried_pineapple.jpg') }}">
                <span class="name">name</span>
                <span class="price">3$</span>
            </div>
        </section>

    </main>
{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('homepage.static',filename='js/homepage.js') }}"></script>
{% endblock %}
