{% extends 'base.html' %}

{% set page_head_title = 'signin' %}
{% set page_discription = 'enter to your account in this page' %}

{% block page_css %}
    <link rel="stylesheet" href="{{ url_for('signin.static', filename='css/signin22.css') }}"/>
{% endblock %}

{% block page_header %}
{% endblock %}

{% block page_content %}
        <div id="container">
        <section id="logoSec">
            <img src="{{ url_for('static', filename='media/img/LOGO.png') }}" alt="LOGO"/>
        </section>
        <section id="formSec">
          <h1>כניסה למערכת</h1>
            <form action="/signin" method="post" name="signin" id="signinform">
              <input type="text" name="username" id="username" placeholder="מספר זהות" required/>

              <input type="password" name="password" id="password" placeholder="סיסמא" required/>
                {% for msg in get_flashed_messages() %}
                <span id="errorMsg">{{ msg }}</span>
                {% endfor %}
              <button type="submit" form="signinform">הכנס לאתר</button>

            </form>
        </section>
    </div>
{% endblock %}
