
a{
    cursor: pointer;
}
body{
    background-image: url("../../../../static/media/img/Backgrounds/background1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: var(--text-font);
    padding: 0;
    margin: 0;
}
body>section{
    margin-bottom: 300px;
}

/*--------------------main--------------------*/

main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
main>#profileSec, #favorites>section {
    margin: 10px;
    padding: 20px;
    width: 25%;
    background-color: var(--bg-White);

}
h2{
    font-size: 30px;
    margin: 10px 0;
}
.btn{
    padding: 5px;
    width: 100px;
    font-weight: bold;
    outline: none;
    border: 1px solid;
    transition-duration: 0.2s;
}
.btn:hover{
    width: 110px;
}

#profileSec{
    border: 1px solid;
}
#profileSec>img{
    width: 100%;
}
#profileSec>.userDatum{
    margin: 13px 0;
}
#profileSec>.userDatum>input{
    float: right;
    padding: 3px;
}
#profileSec>button{
    float: right;
}
#profileSec a:hover{
    font-weight: bold;
}

#favorites{
    background: transparent;
    padding: 0;
}
#favorites>section{
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 93%;
    background-color: var(--bg-White);
    padding: 10px;
    border: 1px solid;
}
#favorites>section>.favoriteDatum{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0;
}
#favorites>section>.favoriteDatum>img{
    width: 60px;
}
#favorites>#recepies{
    margin-top: 22px;
}

#wishlist{
    height: 65%;
    background-color: var(--bg-White);
    width: 220px;
    padding: 10px;
    margin: 10px;
    border: 1px black solid;
}
#wishlist>.wish{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    border-radius: 0;
}
#wishlist>.wish>h4{
    margin: 20px 0;
    padding: 0;
}
#wishlist>.wish>a{
    height: max-content;
    text-decoration: none;
    color: black;
}
#wishlist>.wish:hover>a{
    font-weight: bold;
}
#wishlist>a{
    bottom: 90px;
    padding: 8px 61px !important;
    position: absolute;
    background-color: var(--bg-Yellow);
    text-decoration: none;
    width: fit-content;
}

#wishlist>a:hover{
    transform: scale(1.05);
}

#summary{
    height: 30.5%;
    border-spacing: 0;
    width: 220px;
    padding: 10px;
    margin: 10px;
    border: 1px solid;
    background-color: var(--bg-White);
}
#summary ul{
    margin: 0;
    padding: 0;
    font-size: 17px;
    list-style-type: none;
}
#summary li{
    margin-bottom: 20px;
}





