<div id="id03" class="modal">
    <form  class="modal-content animate" action="/alreadyloggedmsg" name="Sign In Form" method="post">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
    <div class="container" >
    <p> you are already Logged in!</p>
        <button type="button" onclick="document.getElementById('id03').style.display='none'" class="cancelbtn">Return</button>
    </div>
        </form>
    </div>