{% extends 'base.html' %}

{% set page_head_title = 'recipe' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('recipe.static', filename='css/recipe_page.css') }}"/>
{% endblock %}

{% block page_body_main %}
   <section>
    <main>
        <h1 id="recepieHeadLine">{{ recipe.info.Recipe_Name }}</h1>
        <p id="recepieInfo">{{ recipe.info.Description }}</p>
        <div id="layoutDivImgInfo">
            <section id="imagesSec">
                <img src="{{url_for('recipe.static',filename='media/Recepies/' + recipe.info.Main_Image) }}" alt="Recepie image">
                <section id="moreImages">
                    {% for image in recipe.images %}
                    <img src="{{url_for('recipe.static',filename='media/Recepies/' + image.Photo_Link )}}" alt="{{ image.Photo_Link }}">
                    {% endfor %}
                </section>
            </section>
            <section id="generalInfo">
                <p><b>Prep:</b> {{ recipe['info'].Preparation_Time }} mins</p>
                <p><b>Cook:</b> {{ recipe['info'].Cooking_Time }} mins</p>
                <p><b>Additional:</b> {{ recipe['info'].Additional_Time }} mins</p>
                <p><b>Total:</b> {{ recipe['info'].Preparation_Time + recipe['info'].Cooking_Time + recipe['info'].Additional_Time }} min</p>
                <p><b>Servings:</b> {{ recipe.info.Servings }} servings</p>
                <section id="nutritionInfo">
                    <h3>Nutrition Info</h3>
                    <p>
                        {{ recipe.info.Nutrition_Info }}
                    </p>
                </section>
            </section>
        </div>
        <section id="ingredientsSec">
            <h2>Ingredients</h2>
            {% for ingredient in recipe.ingredients %}
            <label><input type="checkbox" class="ingredientBox">{{ ingredient.Ingredient }}<br><p>(If you dont have me click me!)</p></label>
            {% endfor %}
        </section>
        <section id="directionsSec">
            <h2>Directions</h2>
            {% for step in recipe['steps'] %}
            <label class="step">
                <input type="checkbox" class="stepBox">Step {{ step['Step_Num'] }}
                <p class="directions">{{ step.Content }}</p>
            </label>
            {% endfor %}
        </section>
    </main>
</section>

{% endblock %}

