body{
    background-image: url("../../../../static/media/img/Backgrounds/background1.png");
    background-attachment: fixed;
    background-size: cover;
}

main{
    height: 740px;
}

#errcontent{
    margin: 40px auto;
    width: fit-content;
    text-align: center;
    background-color: var(--bg-White);
    padding: 10px 100px;
    border-radius: 20px;
}
#errhead{
    margin: 40px;
    font-size: 50px;
}

#errmsg{
    font-size: 20px;
}

#errbtn{
    padding: 20px 90px;
    font-size: 25px;
    background-color: var(--bg-Yellow);
    font-weight: bolder;
    margin: 30px;
}
#errbtn:hover{
    background-color: var(--bg-Yellow-hover);
}