
signin{
    width: 100%;
    margin: 0;
    position: sticky;
    top:0;
    background: linear-gradient(180deg, rgba(249,236,191,1) 1%, var(--bg-White) 46%, var(--bg-White) 100%);;
    z-index: 100;
}

#logo {
    display: inline-block;
    width: 120px;
}
#logoContainer{
    width: 100%;
    position: static;
}
#logoContainer>a{
    padding: 20px;
    float: right;
    color: black;
    text-decoration: none;

}
signin h1{
    display: inline;
    position: absolute;
    font-size: 50px;
    float: right;
    font-family: inherit;
}


signin .navbar {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-items: flex-start;
}
signin .navbar a, .navbar>.dropdown {
    font-size: 20px;
    color: black;
    height: 100%;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.2s;
}
signin .dropdown {
    overflow: hidden;
}

signin .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: var(--bg-Yellow-hover);
}
signin .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 14px;
}
signin .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
signin .dropdown-content a:hover {
    background-color: var(--bg-Yellow-hover);
}
signin .dropdown:hover .dropdown-content {
    display: block;
}

signin #searchBar{
    display: flex;
    margin-top: 10px;
}
signin #searchBar [type=text]{
    width: 200px;
    font-size: 25px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    height: 25px;
    outline: none;
    transition-duration: 0.5s;
}
signin #searchBar #submit{
    font-size: 0;
    margin-top: 5px;
    width: 40px;
    background-color: rgba(77,50,1,0);
    border: none;
    background-image: url('../media/Search.png');
    background-size: 35px;
    background-repeat: no-repeat;
    transition-duration: 200ms;
}

signin .rightFloat{
    margin-left: auto;
    display: flex;
    flex-flow: row wrap;
}