main {
    height: 650px;
}
#memberMessage {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}

#memberMessage h1 {
    font-size: 50px;
    text-align: center;
}

 button.return {
     margin: auto;
     width: 20%;
    text-align: center;
    transition-duration: 0.4s;
    border: #1a1919 solid 2px;
    border-radius: 5px;
    background-color: khaki;
    padding: 14px 40px;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
     margin-top: 50px;
     margin-bottom: 25px;
}

 button.return:hover {
    cursor: pointer;
    box-shadow: 0 12px 12px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: darkkhaki;
 }

  button.homepage {
     margin-top: 50px;
     margin-bottom: 25px;
 }

 .return > a {
    text-decoration: inherit;
     font-size: 20px;
     color: black;
 }