<div id="id01" class="modal" style="display: none;">
    <form  class="modal-content animate" action="/login" name="Sign In Form" method="post">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
    <div class="container" style="background-color:#f1f1f1">
        <div class="container">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit" class="formbtn">Login</button>
            <button class="formbtn" onclick="document.getElementById('id02').style.display='block'">Sign up</button>
        </div>
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
    </div>
        </form>
    </div>