main{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: max-content;
}
main>.h{
    text-align: center;
    padding: 2% 0;
    margin: 0;
    display: inline-block;
    width: 100vw;
}
main>h1{
    font-size: 6rem;
    background: linear-gradient(180deg, var(--primary-color) 40%, var(--secondery-color) 100%);
}
main>h2{
    font-size: 4rem;
    background-color: var(--secondery-color);
}

#carousel{
    width: 100vw;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    overflow: scroll;
    display: flex;
    flex-flow: row nowrap;
}
.hidden{
    display: none !important;
}
#carousel img{
    min-width: 50vw;
    box-sizing: content-box;
    padding-top: 4%;
    padding-bottom: 4%;
    transition-duration: 200ms;
}

main>button{
    width: 80vw;
    height: 20vh;
    font-size: 4rem;
    padding: 2% 4%;
    margin: 4%;
    border: 1px solid black;
    border-radius: 30px;
    background-color: var(--primary-color);
    box-shadow: 5px 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
main>h3{
    background: linear-gradient(180deg, var(--primary-color) 50%, var(--secondery-color) 90%);
    font-size: 3rem;
    font-family: sans-serif;
    padding: 4% !important;
}

#slider{
    display: flex;
    flex-flow: row nowrap;
    overflow: scroll;
    padding: 2%;
    background-color: var(--secondery-color);
    width: 100vw;
}

.ingr_Card{
    background-color: white;
    border: 1px solid black;
    margin: 1%;
    width: 40vw;
    height: 20vh;
    display: flex;
    flex-flow: column nowrap;
    padding: 2%;
    border-radius: 20px;
    box-shadow: 5px 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.ingr_Card .img{
    height: 220px;
}
.ingr_Card .name{
    font-size: 3rem;
}
.ingr_Card .price{
    font-size: 2rem;
}