footer{
    width: 100%;
    height: 250px;
    padding-top: 50px;
    margin-top: -250px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    background: rgb(238,202,124);
    background: linear-gradient(0deg, var(--bg-White) 70%, rgba(251,249,228,0.0) 100%);
}
footer a{
    text-decoration: none;
    color:initial;
}
footer>#leftBox{
    display: flex;
    flex-flow: column wrap;
    align-items: center;

}
footer>#leftBox>a>img{
    margin: 0 auto;
}
footer #Socialnetwork{
    border-top: 1px solid;
    border-radius: initial;

}
footer #Socialnetwork img{
    width: 40px;
    filter: grayscale(100%);
}
footer #logo{
    width: 140px;
    height: 140px;
    margin: 30px;
}
footer>.hyperbox{
    text-align: center;

    margin-top: 20px;
}
footer>.hyperbox>.hyperlist{
    display: flex;
    flex-flow: column wrap;
}
footer .hyperlist> a{
    margin: 5px;
}
