

header{
  display: flex;
  flex-flow: row;
  height: 140px;
  background-color: white;
  padding-bottom: 10px;
  position: sticky;
  top: -106px;
  z-index: 30;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#LOGO>img{
  width: 200px;
}


#headerBtn{
  margin-top: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly ;
  width: 100%;

}
#headerBtn a{
  padding: 30px 30px 5px 30px;
  border-bottom: 2px solid ;
  width: 70px;
  text-align: center;
  white-space: nowrap;
  position: relative;
  top:0;
  left: 0;
  transition-duration: 100ms;
  color: black;
  text-decoration: none;
}

#headerBtn div{
  width: 80px;
  display: flex;
  flex-flow: row;
  justify-content: center;

}

#headerBtn a:hover{
  color: #3e81f1;
  padding: 30px 0px 5px 0px;
}


#upperLeftBtn{
  display: flex;
  flex-flow: row-reverse;
  margin: 10px;
  position: absolute;
  left: 0;
  top: 0;
}
#upperLeftBtn > button{
      margin: 4%;
    padding: 6% 30%;
    font-size: 1em;
}


#upperLeftBtn > button > img{
  width: 15px;
  margin: 2px -4px 0 5px;
}


