{% extends 'base.html' %}
{% set page_head_title = 'Profile Page'%}
{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('profile.static', filename='css/profile_page.css') }}"/>
{% endblock %}
{% block page_body_main %}

<section>
        <main>
            <section id="profileSec">
                <img src="{{ url_for('profile.static',filename='media/GenericAvatar.png') }}" alt="Avatar img">
                <h2>My Profile</h2>
                <form method="POST" action="/profile/update">
                    <div class="userDatum">First Name: <input id="firstname" name="first_name" type="text" value="{{ user['first_name']}}" disabled></div>
                    <div class="userDatum">Last Name: <input id="lastname" type="text" name="last_name" value="{{ user['last_name']}}" disabled></div>
                    <div class="userDatum">Email: <input id="userEmail" type="text" name="email" value="{{ user['email'] }}" disabled></div>
                    <div class="userDatum">Phone: <input id="userPhone" type="text" name="phone_number" value="{{ user['phone_number'] }}" disabled></div>
                    <div class="userDatum" id="passwordDatum" hidden>Password: <input id="userPassword" type="text" name="password" value="{{ user['password'] }}" disabled ></div>
                    <a id="changePass" onclick="showPass()">Change Password</a>
                    <button id="startedit" type="button" onclick="userProfileEdit()" class="btn">Edit</button>
                    <input id="update" type="submit" value="Update" class="btn" hidden>
                </form>
            <div id="msg">
                {% if msg %}
                    {{ msg }}
                {% endif %}
            </div>
            </section>
            <section id="favorites">
                <section id="products">
                    <h2>Products I Bought</h2>
                    {% for prod in bought_prod %}
                        <div class="product favoriteDatum">
                            <h5>{{ prod.Name }}</h5>
                            <img src="{{ url_for('product.static', filename='media/'+prod.Image) }}">
                        </div>
                    {% endfor %}
                </section>
                <section id="recepies">
                    <h2>Favorite Recepies</h2>
                    {% for rec in fav_recipes %}
                        <div class="recepie favoriteDatum">
                            <h5>{{ rec.Recipe_Name }}</h5>
                            <img src="{{ url_for('recipe.static', filename='media/Recepies/'+rec.Main_Image) }}" alt="{{ rec.Recipe_Name}}">
                        </div>
                    {% endfor %}
                </section>
            </section>
            <section id="wishNsummarize">
                <section id="wishlist">
                <h2>Wish List</h2>
                {% for wish in wish_list %}
                <div class="wish">
                    <h4>{{ wish.Name }}</h4>
                    <a href="/product?prod_id={{ wish.Product_ID }}">Buy</a>
                </div>
                {% endfor %}
                <a href="/clearwish" class="btn"> Clear List</a>
                </section>
                <section id="summary">
                    <h2>Summary</h2>
                    <ul>
                        <li>Total Spending: {{ summary.Total_cost }}$</li>
                        <li>Total Orders: {{ summary.Total_Orders }}</li>
                        <li>Total Wishes: {{ summary.Total_Favorited }}</li>
                    </ul>
                </section>
            </section>
        </main>
</section>
{% endblock %}

{% block page_body_js %}
    <script type="text/javascript" src="{{ url_for('profile.static', filename='js/profile_page.js') }}"></script>
{% endblock %}
