@import "Variables.css";
/*----------------------signin pop up-----------------*/



#id01 input[type=text],#id01 input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#id01 button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
}
#id01 button:hover {
    opacity: 0.8;
}
#id01 .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #363636;

}
#id01 img.avatar {
    width: 40%;
    border-radius: 50%;
}
#id01 .container {
    padding: 16px;
}
#id01 span.psw {
    float: right;
    padding-top: 16px;
}
#id01{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
    z-index: 100;
}
#id01 .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 25%;
}
#id01 .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
#id01 .close:hover,
#id01 .close:focus {
    color: red;
    cursor: pointer;
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

#id01 .container .formbtn{
    background-color: var(--bg-Yellow);
    color: black;
}

/*---------------------Sign Up pop up-------------------*/

#id02{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height:max-content;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    z-index: 101;

}

#id02 .container>h2{
    position: static;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 150px;
}
#id02 .modal-content .container b{
    display: block;
    width: 150px;
}

#id02 input[type=text],#id02 input[type=password] {
    width: 93%;
    padding: 15px;
    margin: 5px 0 5px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

#id02 input[type=text]:focus, #id02 input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


#id02 button {
    background-color: var(--bg-Yellow);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
}

#id02 .cancelbtn {
    padding: 14px 20px;
    background-color: #363636;
    color: #dddddd;
}


#id02 .cancelbtn, #id02 .signupbtn {
    float: left;
    width: 50%;
}


#id02 .container {
    padding: 16px;
}


#id02 .modal-content {
    background-color: #fefefe;
    margin: 1% auto 15% auto;
    border: 1px solid #888;
    width: 40%;
}

#id02 .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

#id02 .close:hover,
#id02 .close:focus {
    color: #f44336;
    cursor: pointer;
}

#id02 .clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}


.required:after{
    content: "*";
    color: red;
}


/*----------------------logged err msg-----------------*/



#id03 input[type=text],#id03 input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #cccccc;
    box-sizing: border-box;
}
#id03 .cancelbtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
}
#id03 .cancelbtn:hover {
    opacity: 0.8;
}
#id03 .cancelbtn {
    padding: 10px 18px;
    background-color: #363636;
    margin: 0 auto;
}

#id03 img.avatar {
    width: 40%;
    border-radius: 50%;
}
#id03 .container {
    padding: 16px;
}
#id03 span.psw {
    float: right;
    padding-top: 16px;
}
#id03{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    z-index: 100;
}

#id03 .container{
    background-color:#f1f1f1;
    width: fit-content;
}
#id03 p{
    font-size: 40px;
    width: 500px;
}

#id03 .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: fit-content;
}
#id03 .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
#id03 .close:hover,
#id03 .close:focus {
    color: red;
    cursor: pointer;
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

#id03 .container .formbtn{
    background-color: var(--bg-Yellow);
    color: black;
}