:root {
    /* Colors */
    --primary-color: #64b0ff;
    --primary-contrast-color: white;
    --secondary-color: black;
    --secondary-contrast-white: white;

    /* Fonts */
    --xsite-font-family: Tahoma, serif;
    --xsite-font-size: 16px;

    /* Links */
    --active-menu-item-color: var(--primary-color);
    --link-color: var(--secondary-color);
    --active-link-color: var(--primary-color);
    --visited-link-color: var(--secondary-color);
}
html{
    /*color*/
    --bg-Yellow: rgba(246, 222, 190, 0.85);
    --bg-Yellow-hover: rgb(208, 147, 18);
    --bg-White: rgb(255, 242, 227);
    --button-bg: radial-gradient(circle, rgb(227, 197, 83) 80%, rgba(255,255,255,0) 100%);
    --gradient-bg: linear-gradient(317deg, var(--bg-Yellow) 30%, rgba(251,249,228,0.86) 100%);
    /*font*/
    --text-font: cursive;
}