{% extends 'base.html' %}

{% set page_head_title = 'shop' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('shop.static', filename='css/shop.css') }}"/>
{% endblock %}

{% block page_body_main %}
    <main id="shopMain">
        <h1>Order a HaliTea </h1>
        <section id="jarPicker">
            <div id="small" class="chosen" onclick="toggleChosenJar(this)">
                <img src="{{ url_for('static', filename='media/img/products/dried_coconut.jpg') }}">
                <span>Small</span>
            </div>
            <div id="medium" onclick="toggleChosenJar(this)">
                <img src="{{ url_for('static', filename='media/img/products/dried_coconut.jpg') }}">
                <span>Medium</span>
            </div>
            <div id="large" onclick="toggleChosenJar(this)">
                <img src="{{ url_for('static', filename='media/img/products/dried_coconut.jpg') }}">
                <span>Large</span>
            </div>
        </section>
        <section id="flexHelper">
            <section id="mainSec">
                <div class="ingredientCard"  id="coconut">
                    <datalist>
                        <option class="priceInt">5</option>
                        <option class="smallPriceInt">5</option>
                        <option class="mediumPriceInt">10</option>
                        <option class="largePriceInt">15</option>
                    </datalist>
                    <img class="img" src="{{ url_for('static', filename='media/img/products/dried_coconut.jpg') }}">
                    <h2 class="name">Coconut</h2>
                    <h3 class="price"><span class="dispalyPrice">5</span> ILS for this jar size</h3>
                    <button class="insertJarBtn" onclick="insertItemToJar(this.parentElement)">Add to jar</button>
                </div>
                <div class="ingredientCard"  id="pineapple">
                    <datalist>
                        <option class="priceInt">3</option>
                        <option class="smallPriceInt">3</option>
                        <option class="mediumPriceInt">6</option>
                        <option class="largePriceInt">9</option>
                    </datalist>
                    <img class="img" src="{{ url_for('static', filename='media/img/products/dried_pineapple.jpg') }}">
                    <h2 class="name">Pineapple</h2>
                    <h3 class="price"><span class="dispalyPrice">3</span> ILS for this jar size</h3>
                    <button class="insertJarBtn" onclick="insertItemToJar(this.parentElement)">Insert to jar</button>
                </div>
                <div class="ingredientCard"  id="coconut">
                    <datalist>
                        <option class="priceInt">5</option>
                        <option class="smallPriceInt">5</option>
                        <option class="mediumPriceInt">10</option>
                        <option class="largePriceInt">15</option>
                    </datalist>
                    <img class="img" src="{{ url_for('static', filename='media/img/products/dried_coconut.jpg') }}">
                    <h2 class="name">Coconut</h2>
                    <h3 class="price"><span class="dispalyPrice">5</span> ILS for this jar size</h3>
                    <button class="insertJarBtn" onclick="insertItemToJar(this.parentElement)">Insert to jar</button>
                </div>
                <div class="ingredientCard"  id="pineapple">
                    <datalist>
                        <option class="priceInt">3</option>
                        <option class="smallPriceInt">3</option>
                        <option class="mediumPriceInt">6</option>
                        <option class="largePriceInt">9</option>
                    </datalist>
                    <img class="img" src="{{ url_for('static', filename='media/img/products/dried_pineapple.jpg') }}">
                    <h2 class="name">Pineapple</h2>
                    <h3 class="price"><span class="dispalyPrice">3</span> ILS for this jar size</h3>
                    <button class="insertJarBtn" onclick="insertItemToJar(this.parentElement)">Insert to jar</button>
                </div>
                <div class="ingredientCard"  id="coconut">
                    <datalist>
                        <option class="priceInt">5</option>
                        <option class="smallPriceInt">5</option>
                        <option class="mediumPriceInt">10</option>
                        <option class="largePriceInt">15</option>
                    </datalist>
                    <img class="img" src="{{ url_for('static', filename='media/img/products/dried_coconut.jpg') }}">
                    <h2 class="name">Coconut</h2>
                    <h3 class="price"><span class="dispalyPrice">5</span> ILS for this jar size</h3>
                    <button class="insertJarBtn" onclick="insertItemToJar(this.parentElement)">Insert to jar</button>
                </div>
                <div class="ingredientCard"  id="pineapple">
                    <datalist>
                        <option class="priceInt">3</option>
                        <option class="smallPriceInt">3</option>
                        <option class="mediumPriceInt">6</option>
                        <option class="largePriceInt">9</option>
                    </datalist>
                    <img class="img" src="{{ url_for('static', filename='media/img/products/dried_pineapple.jpg') }}">
                    <h2 class="name">Pineapple</h2>
                    <h3 class="price"><span class="dispalyPrice">3</span> ILS for this jar size</h3>
                    <button class="insertJarBtn" onclick="insertItemToJar(this.parentElement)">Insert to jar</button>
                </div>
                <div class="ingredientCard"  id="coconut">
                    <datalist>
                        <option class="priceInt">5</option>
                        <option class="smallPriceInt">5</option>
                        <option class="mediumPriceInt">10</option>
                        <option class="largePriceInt">15</option>
                    </datalist>
                    <img class="img" src="{{ url_for('static', filename='media/img/products/dried_coconut.jpg') }}">
                    <h2 class="name">Coconut</h2>
                    <h3 class="price"><span class="dispalyPrice">5</span> ILS for this jar size</h3>
                    <button class="insertJarBtn" onclick="insertItemToJar(this.parentElement)">Insert to jar</button>
                </div>
                <div class="ingredientCard"  id="pineapple">
                    <datalist>
                        <option class="priceInt">3</option>
                        <option class="smallPriceInt">3</option>
                        <option class="mediumPriceInt">6</option>
                        <option class="largePriceInt">9</option>
                    </datalist>
                    <img class="img" src="{{ url_for('static', filename='media/img/products/dried_pineapple.jpg') }}">
                    <h2 class="name">Pineapple</h2>
                    <h3 class="price"><span class="dispalyPrice">3</span> ILS for this jar size</h3>
                    <button class="insertJarBtn" onclick="insertItemToJar(this.parentElement)">Insert to jar</button>
                </div>
                <div class="ingredientCard"  id="coconut">
                    <datalist>
                        <option class="priceInt">5</option>
                        <option class="smallPriceInt">5</option>
                        <option class="mediumPriceInt">10</option>
                        <option class="largePriceInt">15</option>
                    </datalist>
                    <img class="img" src="{{ url_for('static', filename='media/img/products/dried_coconut.jpg') }}">
                    <h2 class="name">Coconut</h2>
                    <h3 class="price"><span class="dispalyPrice">5</span> ILS for this jar size</h3>
                    <button class="insertJarBtn" onclick="insertItemToJar(this.parentElement)">Insert to jar</button>
                </div>
                <div class="ingredientCard"  id="pineapple">
                    <datalist>
                        <option class="priceInt">3</option>
                        <option class="smallPriceInt">3</option>
                        <option class="mediumPriceInt">6</option>
                        <option class="largePriceInt">9</option>
                    </datalist>
                    <img class="img" src="{{ url_for('static', filename='media/img/products/dried_pineapple.jpg') }}">
                    <h2 class="name">Pineapple</h2>
                    <h3 class="price"><span class="dispalyPrice">3</span> ILS for this jar size</h3>
                    <button class="insertJarBtn" onclick="insertItemToJar(this.parentElement)">Insert to jar</button>
                </div>
                <div class="ingredientCard"  id="coconut">
                    <datalist>
                        <option class="priceInt">5</option>
                        <option class="smallPriceInt">5</option>
                        <option class="mediumPriceInt">10</option>
                        <option class="largePriceInt">15</option>
                    </datalist>
                    <img class="img" src="{{ url_for('static', filename='media/img/products/dried_coconut.jpg') }}">
                    <h2 class="name">Coconut</h2>
                    <h3 class="price"><span class="dispalyPrice">5</span> ILS for this jar size</h3>
                    <button class="insertJarBtn" onclick="insertItemToJar(this.parentElement)">Insert to jar</button>
                </div>
                <div class="ingredientCard"  id="pineapple">
                    <datalist>
                        <option class="priceInt">3</option>
                        <option class="smallPriceInt">3</option>
                        <option class="mediumPriceInt">6</option>
                        <option class="largePriceInt">9</option>
                    </datalist>
                    <img class="img" src="{{ url_for('static', filename='media/img/products/dried_pineapple.jpg') }}">
                    <h2 class="name">Pineapple</h2>
                    <h3 class="price"><span class="dispalyPrice">3</span> ILS for this jar size</h3>
                    <button class="insertJarBtn" onclick="insertItemToJar(this.parentElement)">Insert to jar</button>
                </div>
            </section>
            <aside>
                <h2>Your Jar</h2>
                <section id="jarContent">

                </section>
                <section id="orderTotals">
                <span>
                    Total: <span id="totalMoney">0</span> ILS
                </span>
                    <button onclick="orderJar()">Order Now!</button>
                </section>
            </aside>
        </section>
    <section id="orderPopup">
        <section>
            <div id="summaryPage">
                <h1>Jar summary</h1>
                <div id="jarsummary">
                </div>
                <div id="jarTotals">
                </div>
            </div>
            <div id="clientDetailsPage">
                <h1>Your details</h1>
                <form id="clientDetails" action="/finishOrder" method="post">
                    <input type="text" placeholder="First name" id="fName">
                    <input type="text" placeholder="Last name" id="lName">
                    <input type="email" placeholder="Email" id="email">
                    <input type="number" placeholder="Phone number" id="pNumber">
                    <input type="text" onchange="check_datalist(this)" placeholder="City" id="city" list="cities"><datalist id="cities">
                    <option>אודים</option>
                    <option>כפר נטר</option>
                </datalist>
                    <input type="text" onchange="check_datalist(this)" placeholder="Street and number" id="street" list="streets"><datalist id="streets">

                </datalist>

                </form>
            </div>

            <div class="btnDiv">
                <button id="cancel">Cancel jar</button>
                <button id="next">Continue</button>
            </div>
        </section>
    </section>
    </main>
{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('shop.static', filename='js/shop.js') }}"></script>
{% endblock %}
