:root {
    /* Colors */
    --dark-purple: #4C3B4D;
    --light-purple: #9f8fb3;

    --green: #74C365;
    --secondery-color: #74C365;

    --primary-color: #CADF9E;
    --light-green: #CADF9E;

    --body-color: #DDC5B1;


    --pink: #F2BAD0;
}